@import '../../styles/variables/colors';
@import '../../styles/variables/misc';

@mixin button {
  text-shadow: $text-shadow;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 1rem 1rem;
  transition: width 0.2s linear;
  width: 100%;

  &:hover {
    width: 200%;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.96);
  }
}

.button {
  @include button();
}
