@import '../../../styles/variables/misc';
@import '../../../styles/variables/colors';

.sidebar {
  background-color: $sidebar-col-background;
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  transition: 0.5s;
  overflow: auto;
}

.button {
  cursor: pointer;
}
