@import '../../../styles/variables/colors';
@import '../../../styles/variables/misc';

// .form {
//   display: flex;
//   flex-direction: column;
// }

.addSkillSectionButton {
  background: $gradient-main;
  text-shadow: $text-shadow;
  background-size: 200% 200%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 1rem 1rem;
  transition: max-width 0.2s, background 0.2s, transform 0.02s linear;
  width: 100%;

  &:hover {
    background-size: 100% 100%;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.96);
  }
}
