@import '../../../styles/variables/colors';
@import '../../../styles/variables/misc';

@mixin skillButtonMixin {
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: $text-shadow;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transform: transform 0.02s linear;
  margin-right: 1rem;

  &:active {
    transform: scale(0.9);
  }
}

.skillButtonWrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}

// Buttons to use
.deleteButton {
  @include skillButtonMixin();
  background-image: $gradient-del;
}

.editButton {
  @include skillButtonMixin();
  background-image: $gradient-edit;
}

.doneButton {
  @include skillButtonMixin();
  background-image: $gradient-done;
}

.addSkillButton {
  @include skillButtonMixin();
  background-image: $gradient-add;
}
