// Gradients
$gradient-add: linear-gradient(45deg, #cbabfb 0%, #fb7ef6 60%);
$gradient-edit: linear-gradient(45deg, #79ebe0 0%, #70c1fb 60%);
$gradient-main: linear-gradient(135deg, #ea5c54 0%, #bb6dec 100%);
$gradient-del: linear-gradient(to right, #ff416c, #ff4b2b);
$gradient-done: linear-gradient(to top, #0ba360 0%, #3cba92 100%);

// Sidebar
$color-primary: #bb6dec;
